apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret-config
type: Opaque
data:
  password: encoded_password
  url: encoded_full_db_url

#echo -n "Password" | base64
#echo -n "postgres://user:password@postgres:5432/dbname?sslmode=disable" | base64