apiVersion: v1
kind: Secret
metadata:
  name: ghcr-secret
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: <base64-encoded-docker-config>

# To create/update this secret:
# kubectl create secret docker-registry ghcr-secret \
#   --docker-server=ghcr.io \
#   --docker-username=<your-github-username> \
#   --docker-password=<your-github-token> \
#   --docker-email=<your-email> \
#    --dry-run=client -o yaml | kubectl apply -f -
