apiVersion: v1
kind: Secret
metadata:
  name: google-auth-token
type: Opaque
data:
  client_secret.json: <base64-encoded-client-secret-json>

# To create this secret from a file:
# kubectl create secret generic google-auth-token --from-file=client_secret.json --from-file=auth-cache.json -n test
#
# To update the token weekly:
# kubectl create secret generic google-auth-token --from-file=client_secret.json --from-file=auth-cache.json --dry-run=client -o yaml -n test | kubectl apply -f -
# kubectl rollout restart deployment youtube-tracker
# kubectl create secret generic google-auth-token \
#  --from-file=client_secret.json \
#  --from-file=auth-cache.json \
