apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret-config
type: Opaque
data:
  # PostgreSQL admin user (used by postgres container)
  ps_user-pass: encoded_password

  # Application user (used by youtube-tracker app)
  youtube_tracker_app-url: encoded_full_db_url

  # Atlas migrations user (used by AtlasSchema operator)
  atlas-url: encoded_full_db_url

# echo -n 'Password' | base64
# echo -n 'postgres://user_app:Password@postgres:5432/ps_db?sslmode=disable' | base64