apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret-config
type: Opaque
data:
  password: encoded_password
  url: encoded_full_db_url

#echo -n 'Password' | base64
#echo -n 'postgres://ps_user:PassWoRt32!@postgres:5432/ps_db?sslmode=disable' | base64
